
name: XMRig Miner
slug: xmrig
description: High-performance Monero miner with CPU and thread control.
version: "6.21.4"
url: "https://github.com/Bearstorm/ha-xmrig-addon"

arch:
  - amd64

startup: services
boot: auto
init: false

host_network: true

# Toto je v HA add-onoch zoznam capability (nie boolean)
privileged:
  - SYS_RAWIO
  - SYS_NICE
  - IPC_LOCK

# POZOR: devices je iba zoznam ciest z hosta (nie /host:/container:rwm)
devices:
  - /dev/cpu

# kernel_modules je BOOL (ak dáš true, namapuje moduly/config a pridá SYS_MODULE)
# Pri MSR to nie je nutné, ale neškodí.
kernel_modules: true

map:
  - addon_config:rw
  - share:rw

options:
  pool: "pool.supportxmr.com"
  port: 443
  user: ""
  pass: ""
  threads: 0
  priority: 0

schema:
  pool: str
  port: int
  user: str
  pass: str
  threads: int
  priority: int

image: "ghcr.io/bearstorm/{arch}-ha-xmrig-addon"
