name: XMRig Miner
slug: xmrig
description: High-performance Monero miner with CPU and thread control.
version: "6.21.6"
url: "https://github.com/Bearstorm/ha-xmrig-addon"

arch:
  - amd64

startup: services
boot: auto
init: false

host_network: true
host_pid: true

# IMPORTANT: allow raw MSR ioctls (Supervisor/AppArmor otherwise blocks MSR access)
apparmor: false

privileged:
  - SYS_RAWIO
  - SYS_ADMIN
  - SYS_NICE
  - IPC_LOCK

devices:
  - /dev/cpu:/dev/cpu:rwm

kernel_modules: true
full_access: true

options:
  pool: "pool.supportxmr.com"
  port: 443
  wallet: ""
  worker: "HA"
  threads: 0
  priority: 2

schema:
  pool: str
  port: int
  wallet: str
  worker: str
  threads: int
  priority: int





