name: XMRig Miner
slug: xmrig
description: High-performance Monero miner with CPU and thread control.
version: "6.21.0"
url: "https://github.com/Bearstorm/ha-xmrig-addon"

arch:
  - amd64

startup: services
boot: auto
init: false

host_network: true

# Dôležité: boolean
privileged: true

# Dôležité: capabilities sem
capabilities:
  - SYS_RAWIO
  - SYS_NICE
  - IPC_LOCK

# namapuj /dev/cpu z hosta
devices:
  - /dev/cpu:/dev/cpu:rwm

# nech supervisor skúsi natiahnuť msr modul
kernel_modules:
  - msr

map:
  - addon_config:rw
  - share:rw

options:
  pool: "pool.supportxmr.com"
  port: 443
  user: ""
  pass: ""
  threads: 0
  priority: 0

schema:
  pool: str
  port: int
  user: str
  pass: str
  threads: int
  priority: int
