name: XMRig Miner
slug: xmrig
description: High-performance Monero miner with CPU and thread control.
version: "6.21.4"
url: "https://github.com/Bearstorm/ha-xmrig-addon"

arch:
  - amd64

startup: services
boot: auto
init: false

host_network: true

# DÔLEŽITÉ: privileged je boolean (nie zoznam)
privileged: true

# DÔLEŽITÉ: capability idú sem
capabilities:
  - SYS_RAWIO
  - SYS_NICE
  - IPC_LOCK

# Namapuj /dev/cpu z hosta
devices:
  - /dev/cpu:/dev/cpu:rwm

# Nech Supervisor pri štarte add-onu sám nahrá msr modul (ak ešte nie je)
kernel_modules:
  - msr

map:
  - addon_config:rw
  - share:rw

options:
  pool: "pool.supportxmr.com"
  port: 443
  user: ""
  pass: ""
  threads: 0
  priority: 0

schema:
  pool: str
  port: int
  user: str
  pass: str
  threads: int
  priority: int

image: "ghcr.io/bearstorm/{arch}-ha-xmrig-addon"
